body{
    background-repeat: no-repeat;
    background-size: cover;
}
.butn{
    background-color: rgb(236, 164, 179);
    color: rgb(0, 0, 0);
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    font-family:serif ;
    border: rgb(223, 124, 144);
}
.btn{
    background-color: rgb(240, 116, 141);
    color: rgb(0, 0, 0);
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-family:serif ;
    border: rgb(223, 124, 144);
}